body{
    background: rgba(237, 234, 240, 0.8);
    display: flex;
    flex-direction: column;
    background-image: url('http://pve.su/example/sn2.png'), url('http://pve.su/example/sn3.png'), url('http://pve.su/example/sn1.png');
    animation: snow 15s linear infinite;
}

.header{
    margin: 20px 10% 0px 10%;
}


  .prev{
      margin-top: 60px;
      width: 70px;
      height: 60px;
      line-height: 20px;
      color: white;
      background-color: #540099;
      border-radius: 30px;
      border-color: #540099;
      font-size: 20px;
      padding: 10px;
      margin-right: 10px;
      margin-bottom: 20px;
  }
  .next{
      margin-top: 60px;
      width: 70px;
      height: 60px;
      line-height: 20px;
      color: white;
      background-color: #540099;
      border-radius: 30px;
      border-color: #540099;
      font-size: 20px;
      padding: 10px;
      margin-right: 10px;
      margin-bottom: 20px;
  }


  #deds{
      display: flex;
      flex-direction: column;
      margin-left: 10%;
      margin-right: 10%;
  }

  .direct{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 40px 0px 60px 0px;
  }

  .dirImg{
      width: 220px;
      height: 240px;
  }

  .dImg{
    position: relative;
    margin-top: 70px;
  }

.info{
    width: 180px;
	  height: 180px;
	  padding: 20px;
	  display: none;
	  position: absolute;
    margin: -245px 0 0 0;
    opacity: 0.7;
    background:#540099;
    color: white;
    font: normal 14px Helvetica, Sans-Serif;
    text-align: center;
  }

  .dImg:hover .info{
	display: block;
	cursor: default;
}
.headText{
  color: white;
  font-size: 42px;
  line-height: 50px;
  width: 100%;
}


  h3 {
	position: absolute;
	top: 200px;
	width: 100%;
}

  h3 div {
	color: white;
	font: normal 24px/45px Helvetica, Sans-Serif;
	background: #540099;
  width: 100%;
  text-align: center;
}

#gallery{
  display: flex;
  flex-direction: column;
  margin: 5% 10%;
}

.butts{
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.gal{
  display: flex;
  justify-content: space-between;
}

.galImg{
  width: 400px;
  height: 470px;
}

.gal .photos img{
  width: 100%;
  display: none;
}

.gal .photos img:first-child{
  display: block;
}

.lightrope {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  margin: -15px 0 0 -100px;
  padding: 0;
  pointer-events: none;
  width: 100%;
}
.lightrope li {
  position: relative;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  width: 12px;
  height: 28px;
  border-radius: 50%;
  margin: 20px;
  display: inline-block;
  background: red;
  box-shadow: 0px 4.6666666667px 24px 3px red;
  -webkit-animation-name: flash-1;
          animation-name: flash-1;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.lightrope li:nth-child(2n+1) {
  background: blue;
  box-shadow: 0px 4.6666666667px 24px 3px blue;
  -webkit-animation-name: flash-2;
          animation-name: flash-2;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}
.lightrope li:nth-child(4n+2) {
  background: pink;
  box-shadow: 0px 4.6666666667px 24px 3px pink;
  -webkit-animation-name: flash-3;
          animation-name: flash-3;
  -webkit-animation-duration: 1.1s;
          animation-duration: 1.1s;
}
.lightrope li:nth-child(odd) {
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
}
.lightrope li:nth-child(3n+1) {
  -webkit-animation-duration: 1.4s;
          animation-duration: 1.4s;
}
.lightrope li:before {
  content: "";
  position: absolute;
  background: #222;
  width: 10px;
  height: 9.3333333333px;
  border-radius: 3px;
  top: -4.6666666667px;
  left: 1px;
}
.lightrope li:after {
  content: "";
  top: -14px;
  left: 9px;
  position: absolute;
  width: 52px;
  height: 18.6666666667px;
  border-bottom: solid #222 2px;
  border-radius: 50%;
}
.lightrope li:last-child:after {
  content: none;
}
.lightrope li:first-child {
  margin-left: -40px;
}

@-webkit-keyframes flash-1 {
  0%, 100% {
    background: green;
    box-shadow: 0px 4.6666666667px 24px 3px green;
  }
  50% {
    background: blue;
    box-shadow: 0px 4.6666666667px 24px 3px blue;
  }
}

@keyframes flash-1 {
  0%, 100% {
    background: green;
    box-shadow: 0px 4.6666666667px 24px 3px green;
  }
  50% {
    background: blue;
    box-shadow: 0px 4.6666666667px 24px 3px blue;
  }
}
@-webkit-keyframes flash-2 {
  0%, 100% {
    background: red;
    box-shadow: 0px 4.6666666667px 24px 3px red;
  }
  50% {
    background: blue;
    box-shadow: 0px 4.6666666667px 24px 3px blue;
  }
}
@keyframes flash-2 {
  0%, 100% {
    background: red;
    box-shadow: 0px 4.6666666667px 24px 3px red;
  }
  50% {
    background: blue;
    box-shadow: 0px 4.6666666667px 24px 3px blue;
  }
}
@-webkit-keyframes flash-3 {
  0%, 100% {
    background: #f70094;
    box-shadow: 0px 4.6666666667px 24px 3px #f70094;
  }
  50% {
    background: rgba(247, 0, 148, 0.4);
    box-shadow: 0px 4.6666666667px 24px 3px rgba(247, 0, 148, 0.2);
  }
}
@keyframes flash-3 {
  0%, 100% {
    background: pink;
    box-shadow: 0px 4.6666666667px 24px 3px pink;
  }
  50% {
    background: rgba(247, 0, 148, 0.4);
    box-shadow: 0px 4.6666666667px 24px 3px rgba(247, 0, 148, 0.2);
  }
}